<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="span6 offset3">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

  <div class="span6 offset3">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

  <div class="span6 offset3">
  <%= submit_tag "Log in", :class => "btn btn-primary" %>
</div>
<% end %>
