<h1>Log in</h1>

<div class="row-fluid; position: absolute; overflow-y: auto;">
    <div class="span4 offset5">

      <%= form_tag sessions_path do %>
          <%= label_tag :email %>
          <%= text_field_tag :email %>

          <%= label_tag :password %>
          <%= password_field_tag :password %>

          <div class="row-fluid" id="button">
            <%= submit_tag "Log in", :class => "btn btn-primary" %>
          </div>
      <% end %>

  </div>
</div>
