<%= form_for([@workorder,@worklog]) do |f| %>
  <%= render 'worklog_error_message' %>
  <div class="field">
    <%= f.label :state %>
    <%= f.select(:state, options_for_select(["Reopened"])) %> <!--re-open ticket to deferred state --> 

    <%= f.label "Explain why you are re-opening this workorder" %>
    <div class="form_hint">If you have a preference, please also provide a good time frame to visit</div>
    <%= f.text_area :description, :cols => "15", :rows => "8" %> <!--Default text is the current user's building-->

    <%= f.hidden_field :fac_man_only, :value => false %>
      
    <div class="row-fluid" id="button">
        <%= f.submit "Reopen Workorder", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %> <!-- end form --> 