<h1>Update Your Profile</h1>

<div class="row-fluid">
  <div class="span4 offset4">
    <%= form_for @worker do |f| %>
    <%= render 'error_message' %>

    <div class="form-page">

      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>

      <%= f.label :email, "WM Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    
      <div class="row-fluid" id="button">
            <%= f.submit "Save Changes", :class => "btn btn-primary" %>
      </div>

    </div>
  
    <% end %>

  </div>
</div>

