<%= form_for(@user) do |f| %>
      <%= render 'shared/error_message' %>

      <div class="form-page">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>

        <%= f.label :email, "WM Email Address" %>
        <%= f.text_field :email %>

        <%= f.label :bannerID, "Banner ID Number (930xxxxxx)" %>
        <%= f.text_field :bannerID %>

        <%= f.label :phone, "Phone Number" %>
        <%= f.text_field :phone %>

        <%= f.label :dorm, "Dorm" %>
        <%= f.select(:dorm, options_for_select(Buildings.all.map(&:name).sort)) %>

        <%= f.label :room, "Room Number" %>
        <%= f.text_field :room %>

        <%= f.label :password %>
        <%= f.password_field :password %>


        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <div class="row-fluid" id="button">
          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        </div>
      </div>
<% end %>
