<h1>Create an account</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your account from being created:</h2>

    <ul>
    <% @user.errors.full_messages.each do |mgs| %>
      <li><%= mgs %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="row">
    <%= f.label "WM Email" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="row">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="row">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="row">
    <%= f.label :grad_year, "Graduating Class" %><br />
    <%= f.select(:grad_year, options_for_select(@grad_years)) %>
  </div>
  
  <div class="row">
    <%= f.label :dorm, "Dorm" %><br />
    <%= f.select(:dorm, options_for_select(@dorms)) %>
  </div>

  <%= f.submit "Create Account", :class => "btn btn-primary" %>
<% end %>
