<%= form_for(@workorder) do |f| %>
  <% if @workorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this workorder from being saved:</h2>

      <ul>
      <% @workorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_field :building, :value => @current_user_building %> <!--Default text is the current user's building-->
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.text_field :room, :value => @current_user_room %><!--Default text is the current user's room-->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

