<%= form_for(@workorder) do |f| %>
<div class="form-page">  
  <% if @workorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this workorder from being saved:</h2>
      <ul>
      <% @workorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> <!-- end error --> 
  <% end %> <!-- end if --> 

  <% if current_user.class == Worker %> <!-- what is displayed for workers --> 
    
    <%= f.label :user %> 
    <%= f.select(:user_id, options_for_select(User.order("name ASC").all.map{ |user| [user.name, user.id] })) %> 
    <div class="form_hint">If user does not have an account, select 'Other' as user and provide their email, phone, and bannerID in the workorder description</div>
    
    <%= f.label :building %>
    <%= f.select(:building, options_for_select(Buildings.all.map(&:name).sort)) %> 
    
    <%= f.label :room %>
    <%= f.text_field :room %>

    <%= f.label :state %>
    <%= f.select(:state, options_for_select(['Assigned','In Progress','Resolved'])) %> 

    <%= f.hidden_field :worker_id, :value => current_user.id %>    

  <% else %> <!-- what is displayed to users --> 
      
      <%= f.label :building %>
      <%= f.select(:building, options_for_select(Buildings.all.map(&:name).sort, :selected => current_user.dorm)) %> <!--Default text is the current user's building-->

      <%= f.label :room %>
      <%= f.text_field :room, :value => current_user.room %><!--Default text is the current user's room-->

  <% end %> <!-- end if --> 

  <%= f.label :description %>
  <div class="form_hint">Feel free to let us know what times work well for you! <br> If you are faculty/staff, please provide your department name and their Banner Index #.</div>
  <%= f.text_area :description, :cols => "15", :rows => "8" %> 

  <div class="row-fluid" id="button">
      <%= f.submit "Create Workorder", :class => "btn btn-large btn-primary" %>
  </div>

</div> <!-- end field -->
  
<% end %> <!-- end form -->


