<li>
  <% if workorder.worker_id == current_user.id %> <!-- no need to show these details to the user --> 
    <span class="content"><b>User: </b><%= workorder.user.name %></span>
    <span class="content"><b>Email: </b><%= workorder.user.email %></span>
    <span class="content"><b>Phone: </b><%= workorder.user.phone %></span>
  <% end %>

  <span class="content"><b>Description: </b><%= workorder.description %></span>
  <span class="content"><b>Building: </b><%= workorder.building %></span>
  <span class="content"><b>Room: </b><%= workorder.room %></span>

  <% unless workorder.worker.nil? %> 
    <span class="content"><b>Worker: </b><%= workorder.worker.name %></span>
  <% end %>

  <% if (workorder.state == "Deferred") and (current_user.class == User) %> <!-- users should not see the deferred state --> 
    <span class="content"><b>State: </b>Pending</span>
  <% else %>
    <span class="content"><b>State: </b><%= workorder.state %></span>
  <% end %> 

  <!-- restricts visible worklogs if user is viewing page --> 
  <% if current_user.class == User %> 
    <% @worklogs_visible = workorder.worklogs.where(:fac_man_only => false) %>
  <% else %>
    <% @worklogs_visible = workorder.worklogs.all %>
  <% end %> 

  <!-- show latest worklog description if a worklog exists -->
  <% if (!@worklogs_visible.first.nil?) %>
    <spac class="content"><b>Latest Update: </b><%= @worklogs_visible.first.description %></span><br />
  <% end %>

  <span class="content"><b><%= link_to 'Updates, Details, and Comments', workorder_path(workorder.id) %></b></span>

  <span class="timestamp">
    Last Updated <%= time_ago_in_words(workorder.updated_at) %> ago.
  </span> <br /> 
  <span class="timestamp">
    Originally Created <%= time_ago_in_words(workorder.created_at) %> ago.
  </span> <br />

  <!-- all code below for forms to accept/defer/resolve --> 
  
  <!--Display form here only if current_user is a worker and the workorder is in 'Assigned' state-->
  <% if (current_user.class == Worker) and ((workorder.state == "Assigned") or (workorder.state == "Reopened")) %>
    <% @workorder = workorder %>
    <% @worklog = workorder.worklogs.new(params[:worklog]) %><br />
    <%= render 'accept_workorder' %> 
  <% end %><!-- end conditional --> 

  <!-- display form to resolve workorder if current_user is a worker and the workorder is 'In Progress' state --> 
  <% if (current_user.class == Worker) and (workorder.state == "In Progress") %>
    <% @workorder = workorder %>
    <% @worklog = workorder.worklogs.new(params[:worklog]) %><br />
    <%= render 'resolve_workorder' %> 
  <% end %> <!-- end conditional --> 

  <!-- display form to re-open workorder if current_user is a user and workorder is in 'Resolved' state -->
  <% if (current_user.class == User) and (workorder.state == "Resolved") %>
    <% @workorder = workorder %>
    <% @worklog = workorder.worklogs.new(params[:worklog]) %><br />
    <%= render 'reopen_workorder' %> 
  <% end %> 

  <% if (current_user.class == User) and (workorder.state != "Resolved") and (workorder.state != "Closed") %>
    <% @workorder = workorder %>
    <% @worklog = workorder.worklogs.new(params[:worklog]) %><br />
    <%= render 'cancel_workorder' %> 
  <% end %> 


</li> 