<li>
  <span class="content"><b><%= link_to 'Workorder Details', workorder_path(workorder.id) %></b></span>
  <% if workorder.worker_id == current_user.id %>
    <span class="content"><b>User: </b><%= workorder.user.name %></span>
    <span class="content"><b>Email: </b><%= workorder.user.email %></span>
    <span class="content"><b>Phone: </b><%= workorder.user.phone %></span>
  <% end %>
  <span class="content"><b>Description: </b><%= workorder.description %></span>
  <span class="content"><b>Building: </b><%= workorder.building %></span>
  <span class="content"><b>Room: </b><%= workorder.room %></span>
  <% if workorder.state == "Deferred" %>
    <span class="content"><b>State: </b>Pending</span>
  <% else %>
    <span class="content"><b>State: </b><%= workorder.state %></span>
  <% end %> 
  <% unless workorder.worker.nil? %> 
    <span class="content"><b>Worker: </b><%= workorder.worker.name %></span>
  <% end %>

  <!--Display buttons here only if current_user is a worker and the workorder is in 'Assigned' state-->
  <% if (current_user.class == Worker) and (workorder.state == "Assigned") %>
    <%= button_to "Accept", accepted_workorder_path(:workorder_id => workorder.id)%>
	<%= button_to "Defer",  deferred_workorder_path(:workorder_id => workorder.id)%>


    <!-- button_to "Defer" , '/deferral' -->
  <% end %>

  <span class="timestamp">
    Originally created <%= time_ago_in_words(workorder.created_at) %> ago.
  </span>
  <span class="timestamp">
    Last Updated <%= time_ago_in_words(workorder.updated_at) %> ago.
  </span>
</li>