<li>
  <span class="content"><b>Description: </b><%= workorder.description %></span>
  <span class="content"><b>Building: </b><%= workorder.building %></span>
  <span class="content"><b>Room: </b><%= workorder.room %></span>
  <span class="content"><b>State: </b><%= workorder.state %></span>
  <span class="content"><b>Worker: </b><%= workorder.worker %></span>

  <span class="timestamp">
    Originally created <%= time_ago_in_words(workorder.created_at) %> ago.
  </span>
</li>